.profile-container {
  padding: 10px;
  justify-content: center;
}

.profile-cover {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 2px;
}

.profile-content {
  display: flex;
  justify-content: center;
}

.avatar-container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}

.profile-avatar {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-top: -55px;
}

.title-description {
  padding-left: 10px;
  padding-top: 15px;
}

.detail-description {
  padding-left: 15px;
  padding-top: 3px;
}

.logout-button {
  padding: 10px;
  background: red;
  color: white;
  border-radius: 5%;
  font-weight: bold;
  display: block;
  margin: 2%;
}

.edit-profile {
  display: flex;
  justify-content: flex-end;
}

.edit-button {
  padding: 10px;
}

.container-info {
  margin-bottom: 2%;
}
