.applied-gig-container {
  padding: 15px;
}

.applied-gig-container h1 {
  font-size: 20px;
  color: black;
  text-align: left;
}

.applied-gig-container h4 {
  color: #333;
}

.applied-applicant-div div {
  font-size: 14px;
}

.applied-applicant-div h4 {
  color: #4ca0eb;
  border-bottom: 2px solid #4ca0eb;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.applied-gig-artists {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.applied-gig-artists div {
  width: 25%;
}

.applied-gig-approval {
  display: flex;
}
.applied-artist-box {
  position: relative;
  margin: 0 2%;
}

.applied-artist-box img {
  box-shadow: none;
}

.applied-artist-box div {
  width: 100%;
}

.applied-gig-approval {
  display: flex;
  justify-content: center;
  max-width: 80%;
  position: absolute;
  /* bottom: 2px; */
  cursor: pointer;
  left: 5%;
}

.applied-approve {
  background: rgba(5, 196, 5, 0.8);
  text-align: center;
  color: white;
  border-radius: 5px 1px 1px 5px;
  padding: 2% 20%;
  cursor: pointer;
}

.applied-reject {
  background: rgba(233, 13, 13, 0.8);
  text-align: center;
  color: white;
  border-radius: 1px 5px 5px 1px;
  padding: 2% 20%;
  cursor: pointer;
}

.fas {
  pointer-events: none;
}

.empty-approved {
  font-weight: bold;
  margin: 2%;
  /* color: ; */
}

.applied-gig-container h1 {
  color: #4ca0eb;
}
