.home-gigs-see-more button {
  width: 100%;
  background: #4ca0eb;
  color: white;
  font-weight: bold;
  padding: 5px;
  border-radius: 5px;
}

.home-gigs-see-more {
  display: flex;
  justify-content: center;
}

.home-artists-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-artists-top a {
  text-decoration: none;
  color: #0fa38f;
  font-weight: bold;
  font-size: 16px;
}

.home-new-artists {
  margin: 10px;
  border-radius: 5px;
  max-width: 100%;
  overflow: hidden;
}

@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
