.home-container {
  padding: 10px;
}

.home-container h2 {
  font-size: 18px;
}

.home-see-more {
  margin: 35% 30% 30% 30%;
}

.home-new-artists {
  margin: 10px;
  border-radius: 5px;
}

@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
