.home-gigs-see-more button {
  width: 100%;
  background: #4ca0eb;
  color: white;
  font-weight: bold;
  padding: 10px;
  margin: 5px 10% 5px;
  background: #4ca0eb;
  border: none;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  cursor: pointer;
}

.home-gigs-see-more {
  display: flex;
  justify-content: flex-end;
  margin-right: 5%;
}

.home-artists-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-artists-top a {
  text-decoration: none;
  color: #0fa38f;
  font-weight: bold;
  font-size: 16px;
}

.home-new-artists {
  margin: 10px;
  border-radius: 5px;
  max-width: 100%;
  overflow: hidden;
}

.home-new-artists img {
  border-radius: 5px;
}

.home-new-artists .artist-box-container {
  margin-right: 10%;
  height: 125px;
}

.home-gigs-top {
  display: flex;
  justify-content: space-between;
}

@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
