.header {
  background-color: #4ca0eb;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
}

.header h1 {
  font-size: 20px;
}
/* .header img {
  max-width: 100%;
  max-height: 70px;
  position: absolute;
  top: -2%;
} */

.header i {
  font-size: 24px;
}

.header a,
.header a:hover {
  color: white;
}

.body-container {
  background-color: #4ca0eb;
  height: 100%;
}
