@media (min-width: 900px) {
  .footernav {
    width: 600px;
  }
}
.footernav {
  display: flex;
  justify-content: space-around;
  padding: 24px 0;
  width: 500px;
  margin: 0 auto;
  background: #2d9cdb;
  color: white;
  max-width: 100%;
}

.footerIcon {
  color: white;
  font-size: 20px;
}
