.add-container input[type="text"],
.add-container input[type="date"],
.add-container textarea,
.add-gig-photo {
  width: 100%;
  margin: 10px 0 10px;
  background: #fff;
  padding: 10px;
  border: none;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  color: #4ca0eb;
}

.add-container input::placeholder {
  color: #4ca0eb;
}

.add-gig-photo {
  width: 50%;
  position: relative;
}

.add-photo-icon {
  text-align: center;
  position: absolute;
  top: 30%;
  font-size: 14px;
  line-height: 1.5em;
}

.add-right-input {
  width: 50%;
}

.add-gig-description {
  height: 100%;
  resize: none;
}

.add-gig-description::placeholder {
  color: #4ca0eb;
  font-family: Helvetica, sans-serif;
}

.add-container input[type="submit"] {
  margin: 10px 0 5px;
  background: #4ca0eb;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  width: 100%;
}

.add-container input::placeholder {
  color: #4ca0eb;
}

@media (min-width: 500px) {
  .add-gig-attributes {
    justify-content: space-between;
  }
}
.add-gig-attributes {
  display: flex;
  margin-top: 10px;
  color: #4ca0eb;
}

.add-gig-attributes label {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.add-gig-image {
  display: none;
  justify-content: center;
}

.add-gig-photo {
  margin-right: 10px;
}

.add-gig-locview {
  display: flex;
  justify-content: center;
}

.add-gig-map {
  max-width: 100%;
}
