.gigtitle input {
  padding: 10px;
  width: 95%;
  border: 3px solid #4ca0eb;
  margin-top: 5px;
  border-radius: 5px;
}
.gigtitle input::placeholder {
  color: #4ca0eb;
  font-family: "roboto";
}

.attributes {
  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
  margin-top: 10px;
}
.attributes input::placeholder {
  color: #4ca0eb;
  font-family: "roboto";
}
.attributes input {
  border: 3px solid #4ca0eb;
  border-radius: 5px;
  /* text-align: center; */
  margin-top: 10px;
  /* font-weight: bold; */
  width: 200px;
  height: 30px;
  padding: 10px;
}
.description input {
  padding: 65px;
  width: 73%;
  border: 3px solid #4ca0eb;
  margin-top: 5px;
  border-radius: 5px;
}

.description input::placeholder {
  color: #4ca0eb;
  font-family: "roboto";
}

.googlemap input {
  padding: 65px;
  width: 73%;
  border: 3px solid #4ca0eb;
  margin-top: 5px;
  border-radius: 5px;
}
.googlemap input::placeholder {
  color: #4ca0eb;
  font-family: "roboto";
  text-align: left;
}

.submit input {
  background-color: #4ca0eb;
  text-align: center;
  border-radius: 5px;
  margin-top: 5px;
  width: 100%;
  padding: 20px;
  color: #ffffff;
  font-family: "roboto";
}
.imageInput {
  display: none;
  justify-content: center;
}
.gig-upload-photo {
  background-color: white;
  /* margin-left: 20px; */
  padding: 50px;
  color: #4ca0eb;
  border: 3px solid;
}
