* {
  margin: 0;
  padding: 0;
}
@media (min-width: 500px) {
  .container {
    width: 600px;
  }
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}
.background {
  background-color: #eeeeee;
}
.margin-bottom {
  height: 75px;
}

.content {
  background: white;
  padding: 2%;
}
