.gig-container {
  display: grid;
  grid-template: 1fr / 1fr 2fr;
  margin: 10px 0;
  background: #fff;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
  background: #fff;
}

.gig-container p {
  font-size: 12px;
  color: #999;
  margin: 5px 0;
}

.gig-container h3 {
  font-weight: 500;
}

.gig-price {
  display: flex;
}

.price-logo {
  color: green;
  margin-right: 10px;
}

.gig-photo {
  position: relative;
  margin-right: 15px;
}

.gig-photo img {
  max-height: 300px;
  max-width: 100%;
}
